@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  outline: none;
}

h1 {
  text-align: center;
  color: black;
  margin-top: -10px;
  margin-bottom: 2rem;
}

body {
  background: url('./assets/Codesaurus Background.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

